.heroContainer {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  background-color: #FBF9F6;
}

.textShadow {
  text-align: center;
  text-shadow: 4px 8px 18px rgba(0,0,0,0.12);
}