@keyframes blurIn {
  0% {
    transform: translateY(-10px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.heroContainer {
  width: 100vw;
  height: max(80vh, 600px);
  display: flex;
  justify-content: center;
  text-align: center;

  background-color: #FBF9F6;
}

.heroTitle {
  font-family: "Beautifully Delicious Bold";
  font-weight: 100;
  font-size: min(30vw, 180px);

  animation: blurIn 1s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.heroSubtitle {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: min(6vw, 60px);

  animation: blurIn 1s ease-in-out 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.textShadow {
  text-shadow: 4px 8px 18px rgba(0,0,0,0.12);
}