.date {
  &::before {
    content: '\2724';
    color: rgba(0,0,0,0.4);
    padding-right: 30px;
    margin-left: -8px;
  }
}

.dateDetails {
  padding-left: 38px;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.sidebarImage {
  height: 100%;
  scale: 1.1;
  object-fit: cover;
  object-position: 55% 50%;
  filter: grayscale(100%)  contrast(125%) brightness(105%);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}