.sectionContainer {
  position: relative;
  height: calc(60vh - 128px);
}

.text {
  position: relative;
  padding: 32px;
  text-align: center;
}

.rect1 {
  position: absolute;
  top: -5%;
  height: 110%;
  width: 100%;
  background-color: rgba(251, 249, 246, 0.65);
}

.rect2 {
  position: absolute;
  left: -5%;
  width: 110%;
  height: 100%;
  background-color: rgba(251, 249, 246, 0.65);
}
