// Animations
// ----------------

.growOnHover {
  font-variation-settings: "wght" 400, "wdth" 70;
  transition: font-variation-settings 0.3s ease;

  &:hover {
    font-variation-settings: "wght" 500, "wdth" 75;
  }
}

@keyframes blurIn {
  0% {
    transform: translateY(-10px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

// Layout
// ----------------

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

}

.contentContainer {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  padding: 3vw 5vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Text styles
// ----------------

.heroTextContainer {
 display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
  animation: blurIn 1s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.heroText {
  font-size: min(15vw, 225px);
  font-weight: 300;
}

.smallHeroText {
  font-size: min(5vw, 96px);
  font-weight: 300;
  font-style: italic;
}

.mainTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(4vh, 64px);
  text-align: center;
  margin-bottom: min(5vh, 48px);
}

.nameTextContainer {
  display: flex;
  align-items: baseline;
  gap: min(3vw, 48px);
  animation: blurIn 1s ease-in-out 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.nameText {
  font-size: min(10vw, 108px);
  font-weight: 400;
  font-style: italic;
}

.ampersand {
  font-size: min(6vw, 72px);
  font-weight: 300;
  font-style: italic;
}

.infoTextContainer {
  animation: blurIn 1s ease-in-out 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.infoTextBold {
  font-size: min(4vw, 48px);
  font-weight: 700;
}

.infoText {
  font-size: min(2.5vw, 30px);
  font-weight: 300;
  animation: blurIn 1s ease-in-out 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.infoBoxContainer {
  background-color: rgba(170, 175, 153, 0.9);

  max-height: 480px;
  width: 400px;
  height: 100%;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;


}

.infoBoxInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
