/* Global styles */

@font-face {
  font-family: "Noto Serif Display";
  src: url("/assets/fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Noto Serif Display Italic";
  src: url("/assets/fonts/NotoSerifDisplay-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Pinyon Script";
  src: url("/assets/fonts/PinyonScript-Regular.ttf");
}

@font-face {
  font-family: "Italianno";
  src: url("/assets/fonts/Italianno-Regular.ttf");
}

body {
  font-family: "Noto Serif Display", "Noto Serif Display Italic", "Pinyon Script", "Italianno", serif;
}
/* reset default CSS text styles */
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}