.container {
  position: relative;
  width: 100vw;
  padding: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.backgroundImage {
  position: absolute;
  left: 0;
  margin-top: -64px;
  height: 100%;
}

.mobile {
  padding: 32px;
}

.noPadding {
  padding: 0;
}