.container {
  width: 100vw;
  padding: 64px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

.backgroundImage {
  position: absolute;
  left: 0;
  margin-top: -64px;
  height: 60vh;
}

.noPadding {
  padding: 0;
}