.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.tabs {
  background-color: #FBF9F6;
  top: -1px; // trick intersection observer to thinking we're off screen
  position: sticky;
  z-index: 2;
  overflow: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &.stuck {
    box-shadow: 0 8px 24px -10px rgba(0, 0, 0, 0.2);
  }

  //&.leftShadow {
  //  box-shadow: inset 20px 0 20px -20px rgba(0, 0, 0, 0.6);
  //
  //  &.rightShadow {
  //    box-shadow: inset 20px 0 20px -20px rgba(0, 0, 0, 0.6), inset -20px 0 20px -20px rgba(0, 0, 0, 0.6);
  //  }
  //}
  //
  //&.rightShadow {
  //  box-shadow: inset -20px 0 20px -20px rgba(0, 0, 0, 0.6);
  //
  //  &.leftShadow {
  //    box-shadow: inset -20px 0 20px -20px rgba(0, 0, 0, 0.6), inset 20px 0 20px -20px rgba(0, 0, 0, 0.6);
  //  }
  //}
}

.tabList {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: scroll;
  width: fit-content;
  min-width: 100%;

  & > .tab:first-child {
    margin-left: auto;
  }

  & > .tab:last-child {
    margin-right: auto;
  }


  &::before {
    display: none;
  }
}

.tab {
  border-radius: 0;
  font-weight: 375;
  height: 65px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #eeebe7;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.gradientBackground {
  position: sticky;
  top: 0;
  animation: gradient-animation 20s ease infinite;
  background: linear-gradient(300deg, #eceeea, #fbf9f6, #ebeee7) fixed;
  background-size: 150% 150%;
  width: 100vw;
  height: 100vh;
  z-index: 0;

}
.contentContainer {
  max-width: 1800px;
  margin-top: -100vh;
  z-index: 1;
  box-shadow: 1px 4px 20px -8px rgba(0,0,0,0.1);
}

.croatiaImage {
  object-position: 50% 65%;
}

.festivalOfLightsImage {
  object-position: 50% 75%;
}